.inbox--toggle--container {
  display: flex;
  justify-content: left;
}
.inbox--toggle--container--hm {
  display: flex;
  justify-content: right;
}

.inbox--global--container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 24px;
}
.inbox--title--box {
  width: 400px;
  height: fit-content;
  border: 2px solid black;
  border-radius: 6px;
  box-shadow: var(--shadowing);
  background: rgba(0, 0, 0, 0.4);
  margin-bottom: 12px;
  padding: 6px;
  display: flex;
  flex-direction: column;
}
.inbox--title--box {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  text-align: center;
}
.inbox--title--font {
  color: white;
}
.inbox--title--name {
  color: var(--orange);
}
.inbox--container {
  width: 400px;
  min-height: 400px;
  max-height: 500px;
  border: 2px solid black;
  border-radius: 6px;
  box-shadow: var(--shadowing);
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.inbox--input--main--container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.inbox--input--container {
  position: relative;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.message--input--box {
  width: 400px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 2px solid black;
  border-radius: 6px;
  box-shadow: var(--shadowing);
  background: rgba(235, 235, 235, 0.4);
  color: black;
  margin-bottom: 24px;
  color: black;
}
.message--input--box:focus {
  outline-color: var(--orange);
}
.inbox--text--container {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 300px;
  min-height: 60px;
  height: fit-content;
  border: 2px solid black;
  border-radius: 6px;
  box-shadow: var(--shadowing);
  background: rgba(203, 203, 135, 0.8);
  color: black;
}
.inbox--text--container--hm {
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 300px;
  min-height: 60px;
  height: fit-content;
  border: 2px solid black;
  border-radius: 6px;
  box-shadow: var(--shadowing);
  background: rgba(116, 179, 198, 0.8);
  color: black;
}
.inbox--profile--image--small {
  position: absolute;
  top: 8px;
  left: 8px;
  border: 1px solid var(--orange);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  object-fit: cover;
}
.inbox--profile--image--small--hm {
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid var(--orange);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  object-fit: cover;
}

.inbox--text--box {
  margin-left: 60px;
  width: 70%;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}
.inbox--text--box--hm {
  margin-right: 50px;
  margin-left: 10px;
  width: 70%;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.inbox--image--form {
  position: absolute;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  top: 10px;
  right: 10px;
  /* z-index: +99; */
}

.upload--image--button {
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: transparent;
  z-index: +99;
}

.upload--image--button:hover {
  cursor: pointer;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--orange);
}

.image--upload--inbox {
  position: absolute;
  z-index: 0;
  top: 10px;
  right: 10px;
}

.image--message {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.inbox--image--box--hm {
  width: 100%;
}

.inbox--text--box {
  margin-left: 60px;

  white-space: pre-wrap;
  overflow-wrap: break-word;
}
.inbox--text--box--hm {
  margin-right: 50px;
  margin-left: 10px;
  width: 70%;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}
