@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.profile--image--small {
  border: 1px solid var(--orange);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  object-fit: cover;
}
.category--page--container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category--input--container {
  position: relative;
  display: flex;
  background-color: var(--orange);
  border: none;
  border-radius: 4px;
  margin-top: 30px;
  width: 355px;
  height: 38px;
  margin-bottom: 30px;
}

.category--search--bar {
  margin: auto 20px;
  height: 30px;
  width: 80%;
  border-radius: 4px;
  border: none;
  background-color: transparent;
  outline: none;
  font-family: "Exo", sans-serif;
  color: var(--darkblue);
}

.category--search--icon {
  transform: scale(0.6);
  margin-right: 8px;
}

.category--header {
  width: 370px;
  font-weight: 700;
  font-size: 24px;
  line-height: 31.9px;
  color: var(--white);
}

.category--header span {
  color: var(--orange);
}
.sorting--buttons--box {
  width: 370px;
  display: flex;
  justify-content: right;
}

.individual--category--card {
  display: flex;
  width: 370px;
  height: 120px;
  border: 2px solid black;
  border-radius: 6px;
  box-shadow: var(--shadowing);
  background: rgba(0, 0, 0, 0.4);
}

.individual--category--card:hover {
  cursor: pointer;
  background-color: rgba(49, 49, 49, 0.5);
  /* color: var(--orange); */
  filter: sepia(22%);
  transform: scale(1.005);
}

.individual--category--image--box {
  width: 120px;
  height: 120px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-right: 2px solid black;
}
.individual--category--image {
  top: 0px;
  left: 0px;
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.individual--category--description--container {
  position: relative;
  display: flex;
  align-items: center;
  width: 250px;
}
.individual--category--description--container--findservices {
  display: flex;
  align-items: center;
  width: 250px;
}
.individual--category--description--section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.individual--category--profile--stars {
  display: flex;
  align-items: center;
}

.individual--category--stars {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.individual--category--price {
  position: absolute;
  right: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.starting--from {
  font-size: 10px;
  text-align: center;
}

.service--info--card {
  width: 370px;
  height: fit-content;
  border: 2px solid black;
  border-radius: 6px;
  box-shadow: var(--shadowing);
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
}

.service--info--card--top {
  display: flex;
  border-bottom: 2px solid black;
}

.service--info--image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-right: 2px solid black;
}
.service--info--title {
  max-width: 200px;
}
.service--info--title2 {
  max-width: 250px;
}
.service--info--description--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.service--info--description--section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.service--info--profile--stars {
  display: flex;
  align-items: center;
}

.service--info--stars {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.service--info--price {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}

.service--info--card--bottom {
  position: relative;
  padding: 12px;
}

.type--of--work--servicescard {
  width: 100%;
}

.type--of--work--content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.service--info--view--booknow--button {
  height: 60px;
  width: 180px;
  background-color: var(--orange);
  outline: none;
  border: none;
  font-family: "Exo", sans-serif;
  color: var(--black);
  cursor: pointer;
}

.service--info--view--profile--button {
  height: 30px;
  width: 90px;
  position: absolute;
  background-color: var(--orange);
  outline: none;
  border: none;
  bottom: 20px;
  right: 20px;
  font-family: "Exo", sans-serif;
  color: var(--black);
}

.services--type--of--work--added--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.services--type--of--work--added {
  display: flex;
  align-items: center;
  height: 56px;
  width: 100%;
  outline: none;
  border: 2px solid var(--black);
  background-color: rgba(253, 181, 0, 1);
  border-radius: 4px;
  box-shadow: 0px 0px 15px 0px rgba(255, 0, 0, 0.8);
}

.services--type--of--work--added--text {
  margin-left: 10px;
  width: 80%;
  color: var(--black);
  font-weight: 400;
  font-size: 14px;
}

.services--type--of--work--delete--button {
  width: 60px;
  height: 30px;
  margin-right: 10px;
  outline: none;
  border: none;
  background-color: var(--black);
  border-radius: 2px;
  box-shadow: var(--shadowing);
  color: var(--white);
  font-size: 12px;
  cursor: pointer;
}
.services--type--of--work--delete--button:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.services--type--of--work--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.services--type--of--work--button {
  justify-content: center;
  align-items: center;
  color: var(--black);
  height: 38px;
  font-weight: 700;
  outline: none;
  border: none;
  background-color: rgb(255, 186, 10, 0.9);
  border-radius: 2px;
  box-shadow: var(--shadowing);
}
.services--type--of--work--button:hover {
  color: var(--orange);
  background-color: var(--hoverblack);
}

.sorting--price--icon {
  cursor: pointer;
}
.sorting--price--icon:hover {
  cursor: pointer;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

/* =============================================== */
.progress--icon--and--progress {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.accepted--services--container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accepted--services--card {
  display: flex;
  width: 370px;
  height: 120px;
  border: 2px solid black;
  border-radius: 6px;
  box-shadow: var(--shadowing);
  background: rgba(0, 0, 0, 0.4);
}

.accepted--services--image {
  width: 120px;
  height: 100%;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-right: 2px solid black;
}

.accepted--services--description--container {
  display: flex;
  align-items: center;
  width: 250px;
}
.accepted--services--description--section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.accepted--services--profile--pic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ===============================Accepted Service Info============================= */

.review--and--submit--button {
  cursor: pointer;
  height: 50px;
  width: 90px;
  position: absolute;
  background-color: var(--orange);
  outline: none;
  border: none;
  top: 75%;
  right: 20px;
  font-family: "Exo", sans-serif;
  color: var(--black);
}

/* ===============================My Services============================= */

.my--services--loading--container {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: +99;
}

.my--services--main--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.userservices--card--job--status--box {
  display: flex;
  position: absolute;
  align-items: center;
  top: 10px;
  right: 10px;
}

.starting--from {
  font-size: 10px;
  text-align: center;
}

.myuserservice--card {
  width: 370px;
  height: fit-content;
  border: 2px solid black;
  border-radius: 6px;
  box-shadow: var(--shadowing);
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
}

.myuserservice--card--top {
  display: flex;
  border-bottom: 2px solid black;
}

.myuserservice--image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-right: 2px solid black;
}
.myuserservice--title {
  max-width: 235px;
  overflow: hidden;
}
.myhmservice--title {
  max-width: 235px;
  overflow: hidden;
}
.myuserservice--description--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}
.myuserservice--description--section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.myuserservice--profile--stars {
  display: flex;
  align-items: center;
}

.myuserservice--stars {
  margin-left: 10px;
}

.myuserservice--price {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}

.myuserservice--card--bottom {
  position: relative;
  padding: 12px;
}

.type--of--work--content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.myuserservice--buttons--container {
  margin-top: 36px;
  display: flex;
  width: 100%;
}
.myuserservice--desc {
  width: 100%;
  word-wrap: break-word;
}
.myuserservice--view--cancel--button {
  height: 30px;
  width: 90px;
  background-color: #ff4040;
  outline: none;
  border: none;
  font-family: "Exo", sans-serif;
  color: var(--black);
  margin-left: 20px;
  border-radius: 4px;
  cursor: pointer;
}
.myuserservice--view--message--button {
  height: 30px;
  width: 90px;
  background-color: var(--orange);
  outline: none;
  border: none;
  font-family: "Exo", sans-serif;
  color: var(--black);
  margin-left: 20px;
  border-radius: 4px;
  cursor: pointer;
}

.myuserservice--view--profile--button {
  height: 30px;
  width: 90px;
  background-color: var(--orange);
  outline: none;
  border: none;
  font-family: "Exo", sans-serif;
  color: var(--black);
  border-radius: 4px;
  cursor: pointer;
}

.myuserservice--view--approve--button {
  height: 30px;
  width: 90px;
  background-color: #68ffc0;
  outline: none;
  border: none;
  font-family: "Exo", sans-serif;
  color: var(--black);
  margin-left: 20px;
  border-radius: 4px;
  cursor: pointer;
}

.universal--create--service--image--forms--full {
  position: relative;
  display: flex;
  align-items: center;
  width: 370px;
  height: 56px;
  background-color: rgb(255, 186, 10, 0.9);
  border-radius: 4px;
  border: 1px black solid;
  box-shadow: var(--shadowing);
}

.services--image--upload--input {
  z-index: +99;
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.services--image--upload--button {
  position: absolute;
  display: flex;
  width: 370px;
  justify-content: center;
  align-items: center;
  color: var(--black);
  height: 100%;
  outline: none;
  border: none;
  background-color: rgb(255, 186, 10, 0.9);
  border-radius: 2px;
}
.services--image--upload--button:hover {
  color: var(--orange);
  background-color: var(--hoverblack);
}

/* =========================================================================== */

.notifications--main--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notifications--header {
  text-align: center;
  width: 370px;
  font-weight: 700;
  font-size: 24px;
  line-height: 31.9px;
  color: var(--white);
}

.individual--notification--card--inprogress {
  display: flex;
  width: 370px;
  height: 60px;
  border: 2px solid black;
  border-radius: 6px;
  box-shadow: var(--shadowing);
  background: rgba(1, 95, 6, 0.4);
  margin-top: 5px;
}

.individual--notification--card--cancelled {
  display: flex;
  width: 370px;
  height: 60px;
  border: 2px solid black;
  border-radius: 6px;
  box-shadow: var(--shadowing);
  background: rgba(189, 5, 5, 0.4);
  margin-top: 5px;
}

.individual--notification--image--box {
  display: flex;
  width: 60px;
  align-items: center;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-right: 2px solid black;
}

.notifications--image--box {
  margin-left: 10px;
  display: flex;
  align-items: center;
  height: 100%;
  width: 50px;
}

.individual--notifications--description--container--findservices {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 310px;
  height: 100%;
}

.individual--notifications--title {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid black;
  width: 100%;
  height: 40px;
}

.individual--notifications--title--text {
  text-align: center;
}

.individual--notification--description--section {
  display: flex;
  align-items: center;
  width: 100%;
  height: 35px;
}
.individual--notification--name {
  margin-left: 10px;
}

.noti--category--icon {
  position: absolute;
  right: 0px;
  top: 10px;
}
