@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.category--page--container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category--input--container {
  position: relative;
  display: flex;
  background-color: var(--orange);
  border: none;
  border-radius: 4px;
  margin-top: 30px;
  width: 355px;
  height: 38px;
  margin-bottom: 30px;
}

.category--search--bar {
  margin: auto 20px;
  width: 80%;
  border-radius: 4px;
  border: none;
  background-color: transparent;
  outline: none;
  font-family: "Exo", sans-serif;
  color: var(--darkblue);
}

.category--search--icon {
  position: absolute;
  top: 7px;
  right: 15px;
}

.category--header {
  width: 370px;
  font-weight: 700;
  font-size: 24px;
  line-height: 31.9px;
  color: var(--white);
}

.category--header span {
  color: var(--orange);
}

.individual--category--card {
  display: flex;
  width: 370px;
  height: 120px;
  border: 2px solid black;
  border-radius: 6px;
  box-shadow: var(--shadowing);
  background: rgba(0, 0, 0, 0.4);
}
.individual--category--card:hover {
  cursor: pointer;
  background-color: rgba(49, 49, 49, 0.5);
  /* color: var(--orange); */
  filter: sepia(22%);
}

.individual--category--image {
  width: 120px;
  height: 100%;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-right: 2px solid black;
}

.individual--category--description--container {
  display: flex;
  align-items: center;
  width: 250px;
}
.individual--category--description--section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.individual--category--profile--stars {
  display: flex;
  align-items: center;
}

.individual--category--stars {
  margin-left: 10px;
}

.individual--category--price {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.starting--from {
  font-size: 10px;
  text-align: center;
}

.service--info--card {
  width: 370px;
  height: fit-content;
  border: 2px solid black;
  border-radius: 6px;
  box-shadow: var(--shadowing);
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
}

.service--info--card--top {
  display: flex;
  border-bottom: 2px solid black;
}

.service--info--image {
  width: 120px;
  height: 100%;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-right: 2px solid black;
}

.service--info--description--container {
  display: flex;
  align-items: center;
  width: 250px;
}
.service--info--description--section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.service--info--profile--stars {
  display: flex;
  align-items: center;
}

.service--info--stars {
  margin-left: 10px;
}

.service--info--price {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.service--info--card--bottom {
  position: relative;
  padding: 12px;
}

.type--of--work {
  width: 100%;
}

.type--of--work--content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.service--info--view--booknow--button {
  height: 60px;
  width: 180px;
  background-color: var(--orange);
  outline: none;
  border: none;
  font-family: "Exo", sans-serif;
  color: var(--black);
}

.service--info--view--profile--button {
  height: 30px;
  width: 90px;
  position: absolute;
  background-color: var(--orange);
  outline: none;
  border: none;
  bottom: 20px;
  right: 20px;
  font-family: "Exo", sans-serif;
  color: var(--black);
}

.services--type--of--work--added--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.services--type--of--work--added {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  outline: none;
  border: 2px solid var(--black);
  background-color: rgb(255, 186, 10, 0.9);
  border-radius: 4px;
  box-shadow: 0px 0px 15px 0px rgba(255, 0, 0, 0.8);
  margin-bottom: 10px;
}

.services--type--of--work--added--text {
  margin-left: 10px;
  width: 80%;
  color: var(--black);
  font-weight: 400;
  font-size: 14px;
}

.services--type--of--work--delete--button {
  width: 60px;
  height: 30px;
  margin-right: 10px;
  outline: none;
  border: none;
  background-color: var(--black);
  border-radius: 2px;
  box-shadow: var(--shadowing);
  color: var(--white);
  font-size: 12px;
}

.services--type--of--work--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.services--type--of--work--button {
  justify-content: center;
  align-items: center;
  color: var(--black);
  height: 38px;
  font-weight: 700;
  outline: none;
  border: none;
  background-color: rgb(255, 186, 10, 0.9);
  border-radius: 2px;
  box-shadow: var(--shadowing);
}
.services--type--of--work--button:hover {
  color: var(--orange);
  background-color: var(--hoverblack);
}

/* =============================================== */
.progress--icon--and--progress {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.accepted--services--card {
  display: flex;
  width: 370px;
  height: 120px;
  border: 2px solid black;
  border-radius: 6px;
  box-shadow: var(--shadowing);
  background: rgba(0, 0, 0, 0.4);
}

.accepted--services--image {
  width: 120px;
  height: 100%;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-right: 2px solid black;
}

.accepted--services--description--container {
  display: flex;
  align-items: center;
  width: 250px;
}
.accepted--services--description--section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.accepted--services--profile--pic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ===============================Accepted Service Info============================= */

.review--and--submit--button {
  cursor: pointer;
  height: 50px;
  width: 90px;
  position: absolute;
  background-color: var(--orange);
  outline: none;
  border: none;
  top: 75%;
  right: 20px;
  font-family: "Exo", sans-serif;
  color: var(--black);
}
