.character--select--container {
  position: relative;
  background: url("../Assets/homepage/homepagebg.svg") no-repeat center
    center/cover;
  height: 100vh;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.character--select--sub--header {
  text-align: center;
}

.character--select--sub--header span {
  color: var(--orange);
}

.character--select--characters--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 390px;
}

.character--select--characters {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 190px;
  height: 355px;
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid black;
  border-radius: 4px;
  box-shadow: var(--shadowing);
}

.character--select--characters p {
  margin: 16px 15px;
}

.character--select--characters--type1 {
  position: absolute;
  transform: rotate(-90deg);
  line-height: 37px;
  top: 100px;
  left: -10px;
}

.character--select--characters--type2 {
  position: absolute;
  transform: rotate(-90deg);
  line-height: 37px;
  top: 100px;
  left: -50px;
}
