.user--login--page--container {
  background: url("../Assets/loginpage/loginpagebg.svg") no-repeat center
    center/cover;
  height: 100vh;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user--login--page--header {
  line-height: 42.53px;
  color: var(--white);
  margin: 0;
}

.user--login--input--icon {
  height: 30px;
  width: 30px;
}

.user--login-input {
  background-color: transparent;
  outline: none;
  line-height: 24px;
  border: none;
  color: var(--black);
  width: 90%;
}

.user--login--page--no--account--header {
  margin: 0;
  margin-top: 159px;
  font-weight: 700;
  font-size: 24px;
  line-height: 31.9px;
}

.user--login--page--signup--button {
  width: 133px;
  height: 59px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black);
  line-height: 31.9px;
  background-color: rgb(255, 186, 10, 0.9);
  box-shadow: var(--shadowing);
}
