@keyframes shake {
  0% {
    transform: translate(0.5px, 0.5px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -0.5px) rotate(-5deg);
  }
  20% {
    transform: translate(-1px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(1px, 0.5px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(10deg);
  }
  50% {
    transform: translate(-1px, 0.5px) rotate(-1deg);
  }
  60% {
    transform: translate(-0.5px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(0.5px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(5deg);
  }
  90% {
    transform: translate(1px, 0.5px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -0.5px) rotate(-10deg);
  }
}

.modal--overlay {
  top: 0%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.modal--container--confirmbooking {
  position: relative;
  width: 350px;
  min-height: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--orange);
  border-radius: 6px;
  box-shadow: var(--shadowing);
  background: var(--orange);
  box-shadow: 0px 0px 20px 0px rgba(255, 0, 0, 0.8);
}
.modal--container {
  position: relative;
  width: 350px;
  height: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--orange);
  border-radius: 6px;
  box-shadow: var(--shadowing);
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 20px 0px rgba(255, 0, 0, 0.8);
}

.modal--header--confirmbooking {
  text-align: left;
  color: black;
}
.modal--header {
  text-align: center;
}

.modal--text--confirmbooking {
  color: black;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.modal--text {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}
.modal--text--confirmbooking--description {
  width: 100%;
  color: black;
  text-align: left;
}

.modal--text--confirmbooking--items {
  color: black;
  text-align: left;
}
.confirm--booking--hm--profile--box {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: left;
}
.confirm--booking--profileimage--box {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}
.confirm--booking--hm--profile--image {
  height: 100px;
  border-radius: 50%;
}
.confirm--booking--description--box {
  display: flex;
  flex-direction: column;
  width: 90%;
  /* text-align: left; */
}
.review--submit--button--confirmbooking {
  background-color: transparent;
  color: var(--orange);
  outline: none;
  cursor: pointer;
  border-style: none;
  border-radius: 4px;
  box-shadow: var(--shadowing);
  padding: 10px;
  color: black;
  border: black 1px solid;
}
.review--submit--button--confirmbooking:hover {
  background-color: var(--black);
  color: var(--orange);
}
.modal--text--confirmbooking--terms {
  color: black;
  text-align: center;
  width: 90%;
}
.about--input--forms--full {
  width: 320px;
  height: 160px;
  background-color: rgb(255, 186, 10, 0.9);
  border-radius: 4px;
  border: 1px black solid;
  box-shadow: var(--shadowing);
}

.review--star--box {
  width: 100px;
  display: flex;
  justify-content: center;
}

.review--stars {
  transform: scale(0.8);
}

.review--submit--button {
  cursor: pointer;
  /* width: 150px; */
  /* height: 40px; */
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black);
  font-weight: 700;
  border: none;
  background-color: rgb(255, 186, 10, 0.9);
  border-radius: 4px;
  box-shadow: var(--shadowing);
}

.modal--cross--button {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 20px;
}
.modal--cross--button:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
.about--business--input--forms--full {
  width: 90%;
  height: 160px;
  background-color: rgb(255, 186, 10, 0.9);
  border-radius: 4px;
  border: 1px black solid;
  box-shadow: var(--shadowing);
}

/* ====================================HAMBURGER MODAL====================================== */
.modal--hamburger--overlay {
  top: 0%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.modal--hamburger--container {
  position: relative;
  width: 200px;
  height: 500px;
  position: fixed;
  top: 0%;
  left: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--orange);
  border-top: 0px;
  box-shadow: var(--shadowing);
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 20px 0px rgba(255, 0, 0, 0.8);
  margin: auto;
}

.hamburger--modal--socials--icons {
  display: flex;
  justify-content: center;
  width: 70%;
  position: absolute;
  top: 90%;
}

.hamburger--modal--socials--icon {
  margin: auto;
  height: 30px;
  width: 30px;
}
.modal--hamburger--text {
  cursor: pointer;
}
.modal--hamburger--text:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

/* ==========================ERROR MODAL====================== */
.username--exist--modal--container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  text-align: center;
}

/* .username--exist--modal--containerActive {
  display: flex;
  align-items: center;
  height: 50px;
  position: absolute;
  transform: translate(0%, 0%);
} */

/* =================================Approval Modal================================ */
.modal--container--approvebooking {
  position: relative;
  width: 350px;
  min-height: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--orange);
  border-radius: 6px;
  box-shadow: var(--shadowing);
  background: rgb(19, 184, 165);
  box-shadow: 0px 0px 20px 0px rgba(43, 255, 0, 0.8);
}

.modal--header--approvebooking {
  text-align: left;
  color: var(--black);
}

.review--input {
  background-color: transparent;
  outline: none;
  line-height: 24px;
  border: none;
  color: var(--black);
  width: 300px;
  height: 140px;
  font-family: "Exo", sans-serif;
  font-size: 14px;
  margin: 8px;
}

.about--review--forms--full {
  width: 320px;
  height: 160px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  border: 1px black solid;
  box-shadow: var(--shadowing);
}

.modal--text--approvebooking {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--black);
}

.modal--approval--text {
  text-align: center;
  margin-top: 10px;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  color: black;
}
