.modal--overlay {
  top: 0%;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  width: 100%;
  height: 100%;
}

.modal--container {
  width: 350px;
  height: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  border-radius: 6px;
  box-shadow: var(--shadowing);
  background: rgba(0, 0, 0, 0.4);
}

.modal--header {
  text-align: center;
}

.modal--text {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.about--input--forms--full {
  width: 320px;
  height: 160px;
  background-color: rgb(255, 186, 10, 0.9);
  border-radius: 4px;
  border: 1px black solid;
  box-shadow: var(--shadowing);
}

.review--input {
  background-color: transparent;
  outline: none;
  line-height: 24px;
  border: none;
  color: var(--black);
  width: 300px;
  height: 140px;
  font-family: "Exo", sans-serif;
  font-size: 14px;
  margin: 8px;
}

.review--submit--button {
  margin-top: 19px;
  width: 200px;
  height: 59px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black);
  font-weight: 700;
  font-size: 24px;
  line-height: 31.9px;
  background-color: rgb(255, 186, 10, 0.9);
  border-radius: 4px;
  box-shadow: var(--shadowing);
}
