@keyframes shake {
  0% {
    transform: translate(0.5px, 0.5px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -0.5px) rotate(-5deg);
  }
  20% {
    transform: translate(-1px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(1px, 0.5px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(10deg);
  }
  50% {
    transform: translate(-1px, 0.5px) rotate(-1deg);
  }
  60% {
    transform: translate(-0.5px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(0.5px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(5deg);
  }
  90% {
    transform: translate(1px, 0.5px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -0.5px) rotate(-10deg);
  }
}

.create--account--container {
  /* position: relative;
  background: url("../../Assets/homepage/homepagebg.svg") no-repeat center
    center/cover;
  height: 100vh;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center; */
  /* background: url("../../Assets/loginpage/loginpagebg.svg") no-repeat center
    center/cover; */
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.create--account--main--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about--business--input--forms--full {
  width: 370px;
  height: 160px;
  background-color: rgb(255, 186, 10, 0.9);
  border-radius: 4px;
  border: 1px black solid;
  box-shadow: var(--shadowing);
}

.create--account--input {
  background-color: transparent;
  outline: none;
  line-height: 24px;
  border: none;
  color: var(--black);
  width: 90%;
  height: 80%;
  font-family: "Exo", sans-serif;
  font-size: 14px;
}

.create--account--options {
  color: var(--black);
  cursor: pointer;
}
.buttons--align--center--box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: min-content;
  margin: auto;
}
.user--create--account--button {
  margin-top: 24px;
  width: 200px;
  height: 59px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black);
  font-weight: 700;
  font-size: 24px;
  background-color: rgb(255, 186, 10, 0.9);
  border-radius: 4px;
  box-shadow: var(--shadowing);
  cursor: pointer;
  outline: none;
  border: none;
}

.user--create--account--button:hover {
  cursor: pointer;
  background-color: rgba(29, 29, 29, 0.9);
  color: var(--orange);
}

.create--account2--container {
  position: relative;
  background: url("../../Assets/homepage/homepagebg.svg") no-repeat center
    center/cover;
  height: 100vh;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create--services--container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create--profile--header--container {
  /* margin-top: 64px; */
  text-align: left;
  width: 370px;
}

.create--profile--header--font {
  margin: 0;
}

.create--profile--middle--container {
  width: 100%;
  text-align: left;
  width: 370px;
}

.legal--name--container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.universal--input--forms--half {
  display: flex;
  align-items: center;
  width: 180px;
  height: 56px;
  background-color: rgb(255, 186, 10, 0.9);
  border-radius: 4px;
  border: 1px black solid;
  box-shadow: var(--shadowing);
}

.universal--input--forms--full {
  display: flex;
  align-items: center;
  width: 370px;
  height: 56px;
  background-color: rgb(255, 186, 10, 0.9);
  border-radius: 4px;
  border: 1px black solid;
  box-shadow: var(--shadowing);
}
.email--box--with--error {
  display: flex;
  flex-direction: column;
}
.email--alert--font {
  color: white;
  text-align: right;
}
.about--input--forms--full {
  width: 370px;
  height: 150px;
  background-color: rgb(255, 186, 10, 0.9);
  border-radius: 4px;
  border: 1px black solid;
  box-shadow: var(--shadowing);
}

.home--address--container {
  display: flex;
  flex-direction: column;
}

.create--account--downarrow {
  width: 28px;
  right: 12px;
}
.create--account--crossbutton {
  width: 28px;
  right: 12px;
  cursor: pointer;
}
.create--account--crossbutton:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
.specialities--box--selection {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 56px;
  background-color: rgb(255, 186, 10, 0.9);
  border-radius: 4px;
  border: 1px black solid;
  box-shadow: var(--shadowing);
  padding-left: 12px;
  color: black;
}
.specialities--box--selection2 {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 56px;
  width: 370px;
  background-color: rgb(255, 186, 10, 0.9);
  border-radius: 4px;
  border: 1px black solid;
  box-shadow: var(--shadowing);
  padding-left: 12px;
  color: black;
}
.specialities--box--selection:hover {
  cursor: pointer;
  background-color: rgba(29, 29, 29, 0.9);
  color: var(--orange);
}
.specialities--box--selection2:hover {
  cursor: pointer;
  background-color: rgba(29, 29, 29, 0.9);
  color: var(--orange);
}
.specialities--box--selected {
  display: flex;
  align-items: center;
  height: 56px;
  outline: none;
  color: black;
  border: 2px solid var(--black);
  background-color: rgba(253, 181, 0, 1);
  border-radius: 4px;
  padding-left: 12px;
  box-shadow: 0px 0px 15px 0px rgba(255, 0, 0, 0.8);
}

.dropdown--menu--specialities {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 370px;
  border: 1px black solid;
  background-color: rgba(213, 213, 213, 0.9);
  border-radius: 4px;
  cursor: pointer;
  z-index: +1;
}
.specialities--selection {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  height: 40px;
  cursor: pointer;
}
.specialities--selection:hover {
  background-color: rgba(29, 29, 29, 0.9);
  color: var(--orange);
  cursor: pointer;
}
