.home--page--container {
  display: flex;
  flex-direction: column;
  /* background-color: var(--black); */
  height: 100vh;
  align-items: center;
  /* background: url("../Assets/homepage/homepagebg.svg") no-repeat center
    center/cover; */
}

.home--page--top--section {
  font-weight: 700;
  font-size: 24px;
  line-height: 31.9px;
  width: 340px;
  color: var(--white);
}

.home--page--header span {
  color: var(--orange);
}

.home--page--sub--header {
  margin-top: 31px;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 21.26px;
}

.home--page--middle--section {
  display: flex;
  justify-content: center;
}

.category--cards {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 20px;
  grid-row-gap: 15px;
}

.category--cards--box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: var(--shadowing);
  height: 85px;
  width: 85px;
  cursor: pointer;
  color: var(--orange);
}
.category--cards--box:hover {
  background-color: rgb(255, 186, 10, 0.9);
  color: var(--hoverblack);
  cursor: pointer;
}

.category--cards--text {
  margin-top: 10px;
  font-weight: 700;
  font-size: 16px;
}

.home--page--bottom--section {
  width: 340px;
}

.home--page--create--section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.home--page--create--button {
  background-color: var(--orange);
  outline: none;
  border: none;
  width: 200px;
  height: 59px;
  cursor: pointer;
}
.home--page--create--button:hover {
  background-color: var(--hoverblack);
  color: var(--orange);
}

.home--page--sub--header2 {
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 21.26px;
  color: var(--white);
  font-weight: 700;
}

.recommended--box {
  display: flex;
  justify-content: space-between;
}

.recommended--cards {
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: var(--shadowing);
}

.recommended--image {
  width: 150px;
  height: 150px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 1px solid black;
}

.recommended--description--section {
  padding: 0px 0px 8px 8px;
}

.recommended--title {
  font-size: 16px;
  font-weight: 700;
  line-height: 21.26px;
  color: var(--white);
  margin-top: 5px;
  margin-bottom: 0px;
}

.recommended--name {
  font-weight: 400;
  font-size: 12px;
  line-height: 15.95px;
  margin-top: 0px;
  margin-bottom: 5px;
  color: var(--white);
}

.recommended--profile--stars {
  display: flex;
  align-items: center;
}

.recommended--stars {
  margin-left: 10px;
}

/* ==============================HomePage3HandyMan========================= */

.hm3--header {
  width: 100%;
  text-align: center;
}

.hm3--page--container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hm3--info--card {
  width: 370px;
  height: fit-content;
  border: 2px solid black;
  border-radius: 6px;
  box-shadow: var(--shadowing);
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
}

.hm3--info--card--top {
  display: flex;
  border-bottom: 2px solid black;
}

.hm3--info--image {
  width: 120px;
  height: 100%;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-right: 2px solid black;
}

.hm3--info--title {
}
.hm3--info--description--mega--container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.hm3--info--description--container {
  display: flex;
  align-items: center;
  width: 250px;
}
.hm3--info--description--section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hm3--info--profile--stars {
  display: flex;
  align-items: center;
}

.hm3--info--stars {
  margin-left: 10px;
}

.hm3--info--price {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}

.hm3--info--card--bottom {
  position: relative;
  padding: 12px;
}

.type--of--work {
  width: 60%;
}

.type--of--work--content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hm3--info--view--create--button--container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hm3--info--view--create--button {
  cursor: pointer;
  height: 60px;
  width: 180px;
  background-color: var(--orange);
  outline: none;
  border: none;
  font-family: "Exo", sans-serif;
  color: var(--black);
}

.hm3--info--delete--profile--button {
  cursor: pointer;
  height: 30px;
  width: 60px;
  /* position: absolute; */
  background-color: #ff4040;
  outline: none;
  border: none;
  bottom: 20px;
  right: 20px;
  font-family: "Exo", sans-serif;
  color: var(--black);
}
.type--of--work--with--buttons {
  display: flex;
  flex-direction: row;
}
.hm3--info--button--box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hm3--info--view--profile--button {
  cursor: pointer;
  height: 30px;
  width: 60px;
  margin-right: 10px;
  /* position: absolute; */
  background-color: var(--orange);
  outline: none;
  border: none;
  bottom: 60px;
  right: 20px;
  font-family: "Exo", sans-serif;
  color: var(--black);
}
