.profile--info--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile--image--box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  z-index: +1;
}
.profile--image {
  top: 70px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.update--profile--image--form {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  top: 70px;
  z-index: +99;
}

.update--profile--image--button {
  cursor: pointer;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: transparent;
}

.update--profile--image--button:hover {
  cursor: pointer;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--orange);
}

input[type="file"] {
  opacity: 0;
  filter: alpha(opacity=10);
}

.reviews--box {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: -16px; */
}
.reviews--stars--box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile--name--box {
  display: flex;
  justify-content: center;
}

.profile--info--card {
  width: 370px;
  height: fit-content;
  border: 2px solid black;
  border-radius: 6px;
  box-shadow: var(--shadowing);
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
}
.profile--about--box {
  display: flex;
  flex-direction: column;
}

.profile--medal--icons--box {
  display: flex;
  justify-content: center;
}
.category--profile--cards {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 15px;
  grid-row-gap: 15px;
}

.category--profile--cards--box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding-top: 10px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: var(--shadowing);
  width: 85px;
}

.category--profile--cards--image--box {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile--description--cards {
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile--icons {
  height: 42px;
}
.profile--trophy--icons {
  height: 38px;
}
.profile--image--icons {
  border-radius: 50%;
  height: 42px;
}
.message--button--box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.message--button {
  margin-top: 19px;
  width: 150px;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--black);
  background-color: rgb(255, 186, 10, 0.9);
  border-radius: 4px;
  box-shadow: var(--shadowing);
  cursor: pointer;
  outline: none;
  border: none;
}
.message--button:hover {
  cursor: pointer;
  background-color: rgb(255, 186, 10, 1);
}

.reviews--info--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 370px;
}
.reviews--header {
  display: flex;
  justify-content: left;
}

.reviews--cards--box {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: var(--shadowing);
  width: 100%;
  min-height: 80px;
}
.reviews--description--cards {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.reviews--message {
  word-wrap: break-word;
}
.reviews--score--box {
  right: 32px;
}
.no--reviews--score--box {
  top: 0px;
  right: 32px;
}
