@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --white: rgb(238, 238, 238);
  --yellow: #f5c32c;
  --orange: rgb(255, 186, 10);
  --hoverblack: rgba(29, 29, 29, 0.9);
  --darkblue: #242d49;
  --black: #1e1e1e;
  --gray: #788097;
  --green: rgb(104, 255, 192);
  --shadowing: 0px 1px 3px 1px rgba(0, 0, 0, 0.5);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Exo", sans-serif;
  color: var(--orange);
  background: url("./Assets/universal/background1.jpeg") no-repeat center
    center/cover;
  /* background: url("./Assets/homepage/homepagebg.svg") no-repeat center
    center/cover; */
  background-attachment: fixed;
}

::-webkit-input-placeholder {
  color: rgb(0, 0, 0, 0.5);
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.navlinks {
  text-decoration: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.universal--input--forms {
  display: flex;
  align-items: center;
  width: 296px;
  height: 56px;
  margin: 0;
  background-color: rgb(255, 186, 10, 0.9);
  border-radius: 4px;
  border: 1px black solid;
  box-shadow: var(--shadowing);
}

.back--button {
  position: absolute;
  left: 20px;
  top: 17px;
  cursor: pointer;
}

.m0 {
  margin: 0;
}

.mb4 {
  margin-bottom: 4px;
}

.mb8 {
  margin-bottom: 8px;
}

.mb16 {
  margin-bottom: 16px;
}

.mb24 {
  margin-bottom: 24px;
}

.mb36 {
  margin-bottom: 36px;
}

.mb48 {
  margin-bottom: 48px;
}

.mt4 {
  margin-top: 4px;
}

.mt8 {
  margin-top: 8px;
}

.mt12 {
  margin-top: 12px;
}

.mt16 {
  margin-top: 16px;
}

.mt20 {
  margin-top: 20px;
}

.mt24 {
  margin-top: 24px;
}

.mt36 {
  margin-top: 36px;
}

.mt46 {
  margin-top: 46px;
}

.mt60 {
  margin-top: 60px;
}

.ml4 {
  margin-left: 4px;
}

.ml8 {
  margin-left: 8px;
}

.ml12 {
  margin-left: 12px;
}

.ml16 {
  margin-left: 16px;
}

.ml24 {
  margin-left: 24px;
}

.ml36 {
  margin-left: 36px;
}

.mr24 {
  margin-right: 24px;
}

.fs8 {
  font-size: 8px;
}

.fs12 {
  font-size: 12px;
}

.fs14 {
  font-size: 14px;
}

.fs16 {
  font-size: 16px;
}

.fs24 {
  font-size: 24px;
}

.fs28 {
  font-size: 28px;
}

.fs32 {
  font-size: 32px;
}

.fs56 {
  font-size: 56px;
}

.fs75 {
  font-size: 75px;
}

.fw700 {
  font-weight: 700;
}

.fw400 {
  font-weight: 400;
}

.fw300 {
  font-weight: 300;
}

.white {
  color: var(--white);
}

.orange {
  color: var(--orange);
}

.create--account--font1 {
  text-align: left;
  width: 296px;
}

.br4 {
  border-radius: 4px;
}

.width414 {
  width: 414px;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}
